table {
    width: 100%;
    -webkit-box-shadow: 10px 10px 99px -27px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 99px -27px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 99px -27px rgba(0, 0, 0, 0.75);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

table,td {
    border-collapse: collapse;
    text-align: left;
    font-size: 20px;
    padding-bottom: 35px;
    padding-left: 35px;
}
table,th{
    border-collapse: collapse;
    text-align: left;
    padding-left: 35px;
}
.body {
    margin: 100px 20%;
}
#input{
    padding: 15px;
    border-radius: 20px;
    outline: none;
    border: none;
    background-color: rgb(223, 226, 226);
    margin-top: 5px;
    font-size: 20px;
}
#submit,#reset{
    margin-top: 30px;
    padding: 12px 35px;
    border-radius: 30px;
    margin-right: 20px;
    border: none;
    border: 1px solid crimson;
    background-color: crimson;
    color: white;
    font-size: 20px;
    cursor: pointer;
}
#reset{
    color: white;
    border: 1px solid grey;
    background-color: grey;
}
#submit:hover{
    border: 1px solid green;
    background-color: green;
    transform: scale(1.05);
}
#reset:hover{
    transform: scale(1.05);
}

.output{
    width: 50%;
    height: auto;
    padding: 5px;
    border-radius: 20px;
    text-align: center;
    background-color: lightsalmon;
}
.output2{
    width: 50%;
    height: auto;
    padding: 5px;
    border-radius: 20px;
    text-align: center;
    background-color:skyblue;
}
.output p{
    font-size: 30px;
    font-weight: bold;
    color: darkgreen;
}
.output2 p{
    font-size: 30px;
    font-weight: bold;
    color: darkgreen;
}

#submit2{
    margin-top: 30px;
    padding: 12px 35px;
    border-radius: 30px;
    margin-right: 20px;
    border: none;
    border: 1px solid royalblue;
    background-color:royalblue;
    color: white;
    font-size: 20px;
    cursor: pointer;
}
#submit2:hover{
    border: 1px solid green;
    background-color: green;
    transform: scale(1.05);
}